@charset: utf-8;

.word {
  color:000000 ;
}

body {
  background-color:black;
  color:#eeeeee;

  background-image: url("bg.jpg");

}

.container {

  width:100px;
  height: 1080px;
  margin:0px auto ;

}


.title {
  width:90px;
  margin:0px auto ;
}